.container-Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;  
    width: 100vw; 
}

.container-small{
display:flex;
flex-direction: column;
background-color: var(--firts-color);
}

.small-link{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color:var(--third-color);
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
} 

.small-logo{
    display: flex;
    gap:0.5rem;
}

.small-logo h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color:var(--third-color);
    font-size: 1rem;
    padding-top: 1rem;
}

.small-logo img{
    width: 2rem;
    height: auto;
}

.small-logo-person{
    border-radius: 50%;
    background-color: var(--gray-color);
    font-size: 0.8rem;
    padding: 0.2rem;
}

.small-logo-person img{
    width:1.2rem;
    height: auto;
}

.small-menu-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

