.container-Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;  
    width: 100vw; 
}

.container-small{
display:flex;
flex-direction: column;
background-color: var(--firts-color);
}

.small-link{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color:var(--third-color);
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    position: relative;
    padding-bottom: 10px;
} 

.small-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0; 
    border: 10px solid transparent;
    border-bottom: 10px solid white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
  }
  
  .small-link.active-link-small::after {
    opacity: 1;
  }

.small-logo{
    display: flex;
    gap:0.5rem;
}

.small-logo h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    color:var(--third-color);
    font-size: 1rem;
    padding-top: 1rem;
}

.small-logo img{
    width: 3rem;
    height: auto;
}

.small-logo-person{
    border-radius: 50%;
    background-color: var(--gray-color);
    font-size: 0.8rem;
    padding: 0.2rem;
}

.small-logo-person img{
    width:1.2rem;
    height: auto;
}

.small-menu-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

