@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --firts-color:#36190D;
    --first-color:#36190D;
    --second-color:#FFA72F;
    --third-color:#fff;
    --gray-color:#F2F3F4 ;
    --gray-dark-color:#373A3D;
    --error-color:#FF2E37;
    --success-color:#66B04C;
  
}
html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
  }
  
  *,
  *:after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family:  "Fredoka", sans-serif;
  }

  .custom-text-red{
    color:var(--error-color);
  }

  .custom-text-yellow{
    color:var(--second-color);
  }

  .custom-text-white{
    color:var(--third-color)
  }

  .custom-text-gray{
    color:var(--gray-color)
  }

  .custom-text-dark-gray{
    color:var(--gray-dark-color)
  }

  .custom-backgound-firts{
    background-color:var(--firts-color)
  }

  .custom-background-first{
    background-color:var(--first-color)
  }

  .custom-text-first-color{
    color: var(--firts-color);
  }

  .custom-border-modal{
    border: 5px solid var(--first-color);
  }

  .custom-error-color{
    color: var(--error-color);
  }
